get usefull libraries

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

get mushroom data

In [3]:
student = pd.read_csv("train_students.csv")

In [9]:
student.head(10)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G3
0,GP,F,15,R,NaN,T,1,1,other,other,...,yes,yes,3,3,4,2,4,5,2,5
1,GP,F,15,U,GT3,T,1,1,other,services,...,yes,no,4,4,2,1,2,5,0,11
2,GP,F,17,U,NaN,T,4,4,teacher,teacher,...,yes,yes,4,3,3,1,2,4,4,14
3,GP,M,16,U,NaN,T,2,2,services,services,...,yes,no,2,3,3,2,2,2,8,9
4,GP,M,16,R,NaN,T,2,2,at_home,other,...,no,no,4,2,2,1,2,3,2,15
5,GP,F,16,U,GT3,T,4,2,teacher,services,...,yes,no,5,3,3,1,1,1,0,10
6,GP,F,16,U,LE3,A,3,3,other,services,...,yes,no,2,3,5,1,4,3,12,11
7,GP,M,19,U,NaN,T,3,3,other,other,...,yes,yes,4,4,4,1,1,3,20,13
8,GP,M,15,R,NaN,T,4,4,other,other,...,yes,yes,1,3,5,3,5,1,6,13
9,GP,M,17,U,GT3,T,4,4,services,teacher,...,yes,no,5,2,3,1,2,5,4,16

In [8]:
student.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 355 entries, 0 to 354
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      355 non-null    object
 1   sex         355 non-null    object
 2   age         355 non-null    int64
 3   address     355 non-null    object
 4   famsize     174 non-null    object
 5   Pstatus     355 non-null    object
 6   Medu        355 non-null    int64
 7   Fedu        355 non-null    int64
 8   Mjob        355 non-null    object
 9   Fjob        355 non-null    object
 10  reason      355 non-null    object
 11  guardian    323 non-null    object
 12  traveltime  355 non-null    int64
 13  studytime   355 non-null    int64
 14  failures    355 non-null    int64
 15  schoolsup   355 non-null    object
 16  famsup      355 non-null    object
 17  paid        355 non-null    object
 18  activities  355 non-null    object
 19  nursery     355 non-null    object
 20  higher      355 non-null    object
 21  internet    355 non-null    object
 22  romantic    355 non-null    object
 23  famrel      355 non-null    int64
 24  freetime    355 non-null    int64
 25  goout       355 non-null    int64
 26  Dalc        355 non-null    int64
 27  Walc        355 non-null    int64
 28  health      355 non-null    int64
 29  absences    355 non-null    int64
 30  G3          355 non-null    int64
dtypes: int64(14), object(17)
memory usage: 86.1+ KB

In [7]:
student.isnull().any()

school        False
sex           False
age           False
address       False
famsize        True
Pstatus       False
Medu          False
Fedu          False
Mjob          False
Fjob          False
reason        False
guardian       True
traveltime    False
studytime     False
failures      False
schoolsup     False
famsup        False
paid          False
activities    False
nursery       False
higher        False
internet      False
romantic      False
famrel        False
freetime      False
goout         False
Dalc          False
Walc          False
health        False
absences      False
G3            False
dtype: bool